*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body{
    background-color: black;
    font-family: roboto;
}


.header{
    background-color: #1F2937;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 70px;
    padding-left: 100px;
    padding-right: 150px;
    width: 1400px;
    height: 450px;
}
.navbar{
    position: fixed;
 
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    float: left;
    margin-right: 700px;
   
}
ul{
    display:flex;
    justify-content: center;
   gap: 40px;
}
ul li{
    float: left;
    list-style: none;
    justify-content: center;
    justify-items: center;
    justify-items: center;
    margin-left: 60px;
 
}
ul a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB; 
   
    
}
ul a:hover{
    color:orangered
}


.header-title{
    margin-bottom: 10px;
}
.difference{
    margin-bottom: 10px;
}

.description{
    margin-top: 40px;
    display: flex;
}

.header-title{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    padding-top: 40px;
    line-height: 1;
  
}
.difference{
    font-size: 18px;
    color: #E5E7EB;
    
}
.description-details{
    width: 500px;
    height: 300px;
}
.office{
    width: 500px;
    height: 250px;
    margin-left: 40px;
    margin-top: 50px;
    position: relative;
}
.action{
    font-size:16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    border: none;
    cursor: pointer;
}
h2{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin-bottom: 20px;
}
section{
    background-color: white;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 70px;
    padding-left: 100px;
    padding-right: 150px;
    width: 1400px;
    height: 550px;
    
    

}
  
.chairs-info{
    display: flex;
    gap: 100px;
    width: 100px;
    height:100x;
    padding-left: 150px;
   
}
.home-chair{
    width: 150px;
    height: 150px;
    margin-top: 60px;
    margin-bottom: 50px;

}
.testimony{
    display: flex;
    gap:40px;
    background-color: #E5E7EB;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 70px;
    padding-left: 180px;
    padding-right: 150px;
    width: 1400px;
    height: 300px;

}
.comment-msg{
    font-size: 32px;
}
.autor-pic{
    height: 200px;
    padding-top: 20px;
}
.comment{
    font-size: 36px;
    color: #1F2937;
}
.autor{
    text-align: center;
}
.signup{
    background-color: white;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 70px;
    padding-left: 180px;
    padding-right: 150px;
    width: 1400px;
    height: 200px;
   
}
.signup-to-call{
    background-color: rgb(88, 88, 238);
    padding: 20px;
    margin-top: 30px;
    width: 1000px;
    height: 120px;
    border-radius: 8px;
 padding-left: 180px;
}
.signup-product{
    display: inline;
    margin-right: 100px;
    color: rgb(248, 237, 237);
    font-size: 18px;
}
.signup-btn{
    font-size: 16px;
    font-weight: bold;
    padding:3px 15px 3px 15px;
    background-color:  rgb(88, 88, 238);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border:2px solid white;
    cursor: pointer;
    
}
.call-action{
    color: white;
    font-size: 24px;
}
.sale{
    font-size: 18px;
    background-color: rgb(175, 20, 20);
    position: absolute;
    color: white;
    letter-spacing: 2px;
    padding-left: 8px;
    padding-right: 8px;
    right: 303px;
    top: 96px;
    text-transform: uppercase;
}
footer{
    background-color:#1F2937; 
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 70px;
    padding-left: 100px;
    padding-right: 150px;
    width: 1400px;
    height: 100px;

}
